[Unit]
Description=DelightfulTTS 2 service
After=network.target

[Service]
ExecStart=/opt/conda/envs/tts_framework/bin/python /home/jupyter/tts-framework/web_server.py
Restart=always
User=jupyter
Environment=PATH=/opt/conda/envs/tts_framework/bin/python
WorkingDirectory=/home/jupyter/tts-framework

[Install]
WantedBy=multi-user.target